@charset "UTF-8";
.navBar {
  outline: 1px solid red;
  position: relative;
}

.navBar__item {
  position: absolute;
  -webkit-transition: 2s;
  transition: 2s;
  left: 100px;
  top: 100px;
  -webkit-transform-origin: 250px 250px;
          transform-origin: 250px 250px;
}

.navBar__item_round {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
}

.navBar__item_number-1 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.navBar__item_number-2 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.navBar__item_number-3 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.navBar__item_number-4 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.navBar__item_number-5 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navBar__item_number-6 {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

.navBar__item_number-7 {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}

.navBar__item_number-8 {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}

.navBar__item_number-9 {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}

.navBar__item_number-10 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navBar__label {
  display: inline-block;
  width: 100px;
  height: 100px;
  outline: 1px solid firebrick;
  vertical-align: middle;
  line-height: 100px;
  text-align: center;
  /*выровн.текст*/
}

.navBar__label_number-1 {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}

.navBar__label_number-2 {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

.navBar__label_number-3 {
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}

.navBar__label_number-4 {
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
}

.navBar__label_number-5 {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.navBar__label_number-6 {
  -webkit-transform: rotate(-216deg);
          transform: rotate(-216deg);
}

.navBar__label_number-7 {
  -webkit-transform: rotate(-252deg);
          transform: rotate(-252deg);
}

.navBar__label_number-8 {
  -webkit-transform: rotate(-288deg);
          transform: rotate(-288deg);
}

.navBar__label_number-9 {
  -webkit-transform: rotate(-324deg);
          transform: rotate(-324deg);
}

.navBar__label_number-10 {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.navBar #navBarRadio-1:checked ~ div > .navBar__label_number-1 {
  background-color: blue;
  color: wheat;
  font-size: 1.3em;
}

.navBar #navBarRadio-1:checked ~ .navBar__item_number-1 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.navBar #navBarRadio-1:checked ~ .navBar__item_number-2 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.navBar #navBarRadio-1:checked ~ .navBar__item_number-3 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.navBar #navBarRadio-1:checked ~ .navBar__item_number-4 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.navBar #navBarRadio-1:checked ~ .navBar__item_number-5 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navBar #navBarRadio-1:checked ~ .navBar__item_number-6 {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

.navBar #navBarRadio-1:checked ~ .navBar__item_number-7 {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}

.navBar #navBarRadio-1:checked ~ .navBar__item_number-8 {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}

.navBar #navBarRadio-1:checked ~ .navBar__item_number-9 {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}

.navBar #navBarRadio-1:checked ~ .navBar__item_number-10 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navBar #navBarRadio-2:checked ~ div > .navBar__label_number-2 {
  background-color: blue;
  color: wheat;
  font-size: 1.3em;
}

.navBar #navBarRadio-2:checked ~ .navBar__item_number-1 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navBar #navBarRadio-2:checked ~ .navBar__item_number-2 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.navBar #navBarRadio-2:checked ~ .navBar__item_number-3 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.navBar #navBarRadio-2:checked ~ .navBar__item_number-4 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.navBar #navBarRadio-2:checked ~ .navBar__item_number-5 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.navBar #navBarRadio-2:checked ~ .navBar__item_number-6 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navBar #navBarRadio-2:checked ~ .navBar__item_number-7 {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

.navBar #navBarRadio-2:checked ~ .navBar__item_number-8 {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}

.navBar #navBarRadio-2:checked ~ .navBar__item_number-9 {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}

.navBar #navBarRadio-2:checked ~ .navBar__item_number-10 {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}

.navBar #navBarRadio-3:checked ~ div > .navBar__label_number-3 {
  background-color: blue;
  color: wheat;
  font-size: 1.3em;
}

.navBar #navBarRadio-3:checked ~ .navBar__item_number-1 {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}

.navBar #navBarRadio-3:checked ~ .navBar__item_number-2 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navBar #navBarRadio-3:checked ~ .navBar__item_number-3 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.navBar #navBarRadio-3:checked ~ .navBar__item_number-4 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.navBar #navBarRadio-3:checked ~ .navBar__item_number-5 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.navBar #navBarRadio-3:checked ~ .navBar__item_number-6 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.navBar #navBarRadio-3:checked ~ .navBar__item_number-7 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navBar #navBarRadio-3:checked ~ .navBar__item_number-8 {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

.navBar #navBarRadio-3:checked ~ .navBar__item_number-9 {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}

.navBar #navBarRadio-3:checked ~ .navBar__item_number-10 {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}

.navBar #navBarRadio-4:checked ~ div > .navBar__label_number-4 {
  background-color: blue;
  color: wheat;
  font-size: 1.3em;
}

.navBar #navBarRadio-4:checked ~ .navBar__item_number-1 {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

.navBar #navBarRadio-4:checked ~ .navBar__item_number-2 {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}

.navBar #navBarRadio-4:checked ~ .navBar__item_number-3 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navBar #navBarRadio-4:checked ~ .navBar__item_number-4 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.navBar #navBarRadio-4:checked ~ .navBar__item_number-5 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.navBar #navBarRadio-4:checked ~ .navBar__item_number-6 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.navBar #navBarRadio-4:checked ~ .navBar__item_number-7 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.navBar #navBarRadio-4:checked ~ .navBar__item_number-8 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navBar #navBarRadio-4:checked ~ .navBar__item_number-9 {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

.navBar #navBarRadio-4:checked ~ .navBar__item_number-10 {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}

.navBar #navBarRadio-5:checked ~ div > .navBar__label_number-5 {
  background-color: blue;
  color: wheat;
  font-size: 1.3em;
}

.navBar #navBarRadio-5:checked ~ .navBar__item_number-1 {
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}

.navBar #navBarRadio-5:checked ~ .navBar__item_number-2 {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

.navBar #navBarRadio-5:checked ~ .navBar__item_number-3 {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}

.navBar #navBarRadio-5:checked ~ .navBar__item_number-4 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navBar #navBarRadio-5:checked ~ .navBar__item_number-5 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.navBar #navBarRadio-5:checked ~ .navBar__item_number-6 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.navBar #navBarRadio-5:checked ~ .navBar__item_number-7 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.navBar #navBarRadio-5:checked ~ .navBar__item_number-8 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.navBar #navBarRadio-5:checked ~ .navBar__item_number-9 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navBar #navBarRadio-5:checked ~ .navBar__item_number-10 {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

.navBar #navBarRadio-6:checked ~ div > .navBar__label_number-6 {
  background-color: blue;
  color: wheat;
  font-size: 1.3em;
}

.navBar #navBarRadio-6:checked ~ .navBar__item_number-1 {
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
}

.navBar #navBarRadio-6:checked ~ .navBar__item_number-2 {
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}

.navBar #navBarRadio-6:checked ~ .navBar__item_number-3 {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

.navBar #navBarRadio-6:checked ~ .navBar__item_number-4 {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}

.navBar #navBarRadio-6:checked ~ .navBar__item_number-5 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navBar #navBarRadio-6:checked ~ .navBar__item_number-6 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.navBar #navBarRadio-6:checked ~ .navBar__item_number-7 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.navBar #navBarRadio-6:checked ~ .navBar__item_number-8 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.navBar #navBarRadio-6:checked ~ .navBar__item_number-9 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.navBar #navBarRadio-6:checked ~ .navBar__item_number-10 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navBar #navBarRadio-7:checked ~ div > .navBar__label_number-7 {
  background-color: blue;
  color: wheat;
  font-size: 1.3em;
}

.navBar #navBarRadio-7:checked ~ .navBar__item_number-1 {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.navBar #navBarRadio-7:checked ~ .navBar__item_number-2 {
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
}

.navBar #navBarRadio-7:checked ~ .navBar__item_number-3 {
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}

.navBar #navBarRadio-7:checked ~ .navBar__item_number-4 {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

.navBar #navBarRadio-7:checked ~ .navBar__item_number-5 {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}

.navBar #navBarRadio-7:checked ~ .navBar__item_number-6 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navBar #navBarRadio-7:checked ~ .navBar__item_number-7 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.navBar #navBarRadio-7:checked ~ .navBar__item_number-8 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.navBar #navBarRadio-7:checked ~ .navBar__item_number-9 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.navBar #navBarRadio-7:checked ~ .navBar__item_number-10 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.navBar #navBarRadio-8:checked ~ div > .navBar__label_number-8 {
  background-color: blue;
  color: wheat;
  font-size: 1.3em;
}

.navBar #navBarRadio-8:checked ~ .navBar__item_number-1 {
  -webkit-transform: rotate(-216deg);
          transform: rotate(-216deg);
}

.navBar #navBarRadio-8:checked ~ .navBar__item_number-2 {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.navBar #navBarRadio-8:checked ~ .navBar__item_number-3 {
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
}

.navBar #navBarRadio-8:checked ~ .navBar__item_number-4 {
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}

.navBar #navBarRadio-8:checked ~ .navBar__item_number-5 {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

.navBar #navBarRadio-8:checked ~ .navBar__item_number-6 {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}

.navBar #navBarRadio-8:checked ~ .navBar__item_number-7 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navBar #navBarRadio-8:checked ~ .navBar__item_number-8 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.navBar #navBarRadio-8:checked ~ .navBar__item_number-9 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.navBar #navBarRadio-8:checked ~ .navBar__item_number-10 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.navBar #navBarRadio-9:checked ~ div > .navBar__label_number-9 {
  background-color: blue;
  color: wheat;
  font-size: 1.3em;
}

.navBar #navBarRadio-9:checked ~ .navBar__item_number-1 {
  -webkit-transform: rotate(-252deg);
          transform: rotate(-252deg);
}

.navBar #navBarRadio-9:checked ~ .navBar__item_number-2 {
  -webkit-transform: rotate(-216deg);
          transform: rotate(-216deg);
}

.navBar #navBarRadio-9:checked ~ .navBar__item_number-3 {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.navBar #navBarRadio-9:checked ~ .navBar__item_number-4 {
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
}

.navBar #navBarRadio-9:checked ~ .navBar__item_number-5 {
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}

.navBar #navBarRadio-9:checked ~ .navBar__item_number-6 {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

.navBar #navBarRadio-9:checked ~ .navBar__item_number-7 {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}

.navBar #navBarRadio-9:checked ~ .navBar__item_number-8 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navBar #navBarRadio-9:checked ~ .navBar__item_number-9 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.navBar #navBarRadio-9:checked ~ .navBar__item_number-10 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.navBar #navBarRadio-10:checked ~ div > .navBar__label_number-10 {
  background-color: blue;
  color: wheat;
  font-size: 1.3em;
}

.navBar #navBarRadio-10:checked ~ .navBar__item_number-1 {
  -webkit-transform: rotate(-288deg);
          transform: rotate(-288deg);
}

.navBar #navBarRadio-10:checked ~ .navBar__item_number-2 {
  -webkit-transform: rotate(-252deg);
          transform: rotate(-252deg);
}

.navBar #navBarRadio-10:checked ~ .navBar__item_number-3 {
  -webkit-transform: rotate(-216deg);
          transform: rotate(-216deg);
}

.navBar #navBarRadio-10:checked ~ .navBar__item_number-4 {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.navBar #navBarRadio-10:checked ~ .navBar__item_number-5 {
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
}

.navBar #navBarRadio-10:checked ~ .navBar__item_number-6 {
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}

.navBar #navBarRadio-10:checked ~ .navBar__item_number-7 {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

.navBar #navBarRadio-10:checked ~ .navBar__item_number-8 {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}

.navBar #navBarRadio-10:checked ~ .navBar__item_number-9 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navBar #navBarRadio-10:checked ~ .navBar__item_number-10 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}
/*# sourceMappingURL=style.css.map */