@charset "UTF-8";
body {
  margin-left: 10vmin;
  margin-top: 0;
  counter-reset: left right;
  font-size: 5vmin;
}

body > div {
  width: 80vmin;
  height: 80vmin;
  outline: 1px solid #2c2121;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

body > div div {
  width: 10vmin;
  height: 10vmin;
  outline: 1px solid #2c2121;
  background-color: #cab2b2;
  /*расстановка шахмат*/
}

body > div div:nth-of-type(16n+1), body > div div:nth-of-type(16n+3), body > div div:nth-of-type(16n+5), body > div div:nth-of-type(16n+7), body > div div:nth-last-of-type(16n+1), body > div div:nth-last-of-type(16n+3), body > div div:nth-last-of-type(16n+5), body > div div:nth-last-of-type(16n+7) {
  background-color: #2c2121;
}

body > div div:nth-of-type(8n)::after, body > div div:nth-of-type(8n+1)::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 10vmin;
  height: 10vmin;
  outline: 1px solid #2c2121;
  vertical-align: middle;
  line-height: 10vmin;
  text-align: center;
}

body > div div:nth-of-type(8n)::after {
  right: -10vmin;
}

body > div div:nth-of-type(8n+1)::before {
  left: -10vmin;
}

body > div div:nth-of-type(8n)::after {
  left: 10vmin;
  counter-increment: left;
  content: counter(left) "";
}

body > div div:nth-of-type(8n+1)::before {
  left: -10vmin;
  counter-increment: right;
  content: counter(right) "";
}

body > div div:nth-last-of-type(1), body > div div:nth-child(1) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(1) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(1) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-child(2) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(2) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(2) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(3), body > div div:nth-child(3) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(3) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(3) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(4), body > div div:nth-child(4) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(4) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(4) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(5), body > div div:nth-child(5) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(5) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(6), body > div div:nth-child(6) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(6) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(7), body > div div:nth-child(7) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(7) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(8), body > div div:nth-child(8) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(8) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(9), body > div div:nth-child(9) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(9) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(9) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(10), body > div div:nth-child(10) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(10) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(10) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(11), body > div div:nth-child(11) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(11) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(11) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(12), body > div div:nth-child(12) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(12) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(12) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(13), body > div div:nth-child(13) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(13) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(13) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(14), body > div div:nth-child(14) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(14) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(14) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(15), body > div div:nth-child(15) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(15) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(15) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body > div div:nth-last-of-type(16), body > div div:nth-child(16) {
  background-image: url("/29.05.2020_homework/img.png");
  background-repeat: no-repeat;
  width: 10vmin;
  height: 10vmin;
  background-size: 60vmin 20vmin;
}

body > div div:nth-last-of-type(16) {
  background-position: calc(-10.5vmin * 5) 0;
}

body > div div:nth-child(16) {
  background-position: calc(-10.5vmin * 5) calc(-20vmin/2);
}

body > div div:nth-of-type(1), body > div div:nth-of-type(8) {
  background-position: calc(-10.5vmin * 2) calc(-20vmin/2);
}

body > div div:nth-last-of-type(1), body > div div:nth-last-of-type(8) {
  background-position: calc(-10.5vmin * 2) 0;
}

body > div div:nth-last-of-type(2), body > div div:nth-last-of-type(7) {
  background-position: calc(-10.5vmin * 4) 0;
}

body > div div:nth-of-type(2), body > div div:nth-of-type(7) {
  background-position: calc(-10.5vmin * 4) calc(-20vmin/2);
}

body > div div:nth-of-type(3), body > div div:nth-of-type(6) {
  background-position: calc(-10.5vmin * 3) calc(-20vmin/2);
}

body > div div:nth-last-of-type(3), body > div div:nth-last-of-type(6) {
  background-position: calc(-10.5vmin * 3) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 1) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 1) 0;
}

body > div div:nth-of-type(4) {
  background-position: calc(-10.5vmin * 0) calc(-20vmin/2);
}

body > div div:nth-last-of-type(5) {
  background-position: calc(-10.5vmin * 0) 0;
}

body::before, body::after {
  content: " abcdefgh ";
  display: inline-block;
  width: 77vmin;
  height: 10vmin;
  outline: 1px solid #2c2121;
  letter-spacing: 8vmin;
  padding-left: 3vmin;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  line-height: 10vmin;
  font-size: 5vmin;
  color: #002121;
}
/*# sourceMappingURL=style.css.map */