$chessWidth: 80vmin;
$chessHeight: $chessWidth;
$chessColorBlack: rgb(44, 33, 33);
$chessColorWhite: rgb(202, 178, 178);
$chessOutline: 1px solid $chessColorBlack;
$chesItem: 16;
//размеры sprite
$chessItemWidth: 10vmin;
$chessItemSpriteWidth: $chessItemWidth * 6;
$chessItemSpriteHeight: $chessItemWidth * 2;



body {
    margin-left: $chessWidth / 8;
    margin-top: 0;
    counter-reset: left right;
    font-size: $chessWidth / 16; 

    &>div {
        width: $chessWidth;
        height: $chessHeight;
        outline: $chessOutline;

        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        & div {
            width: $chessWidth / 8;
            height: $chessHeight / 8;
            outline: $chessOutline;
            background-color: $chessColorWhite;

                &:nth-of-type(16n+1),
                &:nth-of-type(16n+3),
                &:nth-of-type(16n+5),
                &:nth-of-type(16n+7),
                &:nth-last-of-type(16n+1),
                &:nth-last-of-type(16n+3),
                &:nth-last-of-type(16n+5),
                &:nth-last-of-type(16n+7) {
                    background-color: $chessColorBlack;
                }

                &:nth-of-type(8n)::after,
                &:nth-of-type(8n+1)::before {
                    content: "";
                    display: inline-block;
                    position: relative;
                    width: $chessWidth / 8;
                    height: $chessHeight / 8;
                    outline: $chessOutline;
                    vertical-align: middle;
                    line-height: $chessHeight / 8;
                    text-align: center;
                }

                &:nth-of-type(8n)::after {
                    right: -$chessWidth / 8;
                }

                &:nth-of-type(8n+1)::before {
                    left: -$chessWidth / 8;
                }

                &:nth-of-type(8n)::after {
                    left: $chessWidth / 8;
                    counter-increment: left;
                    content: counter(left) "";
                }

                 &:nth-of-type(8n+1)::before {
                    left: -$chessWidth / 8;
                 counter-increment: right;
                     content: counter(right) "";
                }

                /*расстановка шахмат*/
                @for $i from 1 through $chesItem{
                &:nth-last-of-type(#{$i}),
                &:nth-child(#{$i})
                 {
                     background-image: url('/29.05.2020_homework/img.png');
                     background-repeat: no-repeat;
                     width: $chessWidth / 8;
                     height:  $chessWidth / 8;
                     background-size: $chessItemSpriteWidth  $chessItemSpriteHeight;
                       
                    }
                    &:nth-last-of-type(#{$i}){
                        background-position:  calc(-10.5vmin * 5) 0;                         
                    
                    } 
                    
                    &:nth-child(#{$i}){                        
                        background-position: calc(-10.5vmin * 5) calc(-20vmin / 2);                        
                           
                    }               
                      
                  
                    &:nth-of-type(1),
                    &:nth-of-type(8){
                        background-position: calc(-10.5vmin * 2) calc(-20vmin/2); 
                    }

                    &:nth-last-of-type(1),
                    &:nth-last-of-type(8){
                        background-position: calc(-10.5vmin * 2) 0; 
                    }



                    &:nth-last-of-type(2),
                    &:nth-last-of-type(7){
                        background-position: calc(-10.5vmin * 4) 0; 
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(7){
                        background-position: calc(-10.5vmin * 4) calc(-20vmin/2); 
                    }




                    &:nth-of-type(3),
                    &:nth-of-type(6){
                        background-position: calc(-10.5vmin * 3) calc(-20vmin/2); 
                    }


                    &:nth-last-of-type(3),
                    &:nth-last-of-type(6){
                        background-position: calc(-10.5vmin * 3) 0; 
                    }



                    &:nth-of-type(4)                   {
                        background-position: calc(-10.5vmin * 1) calc(-20vmin/2); 
                    }


                    &:nth-last-of-type(4){
                        background-position: calc(-10.5vmin * 1) 0; 
                    }
                    
                    &:nth-of-type(5){
                        background-position: 0 calc(-20vmin/2); 
                    }


                    &:nth-last-of-type(5){
                        background-position: calc(-10.5vmin * 1) 0; 
                    }

                }                
            
            }        
   
    }
        &::before,
        &::after {
            content: " abcdefgh ";
            display: inline-block;
            width: $chessWidth - 3vmin;
            height: $chessHeight / 8;
            outline: $chessOutline;
    
            letter-spacing: $chessHeight / 10;
            padding-left: 3vmin;
            align-items: center;
            vertical-align: middle;
            line-height: $chessHeight / 8;
            font-size: 5vmin;
            color: $chessColorBlack - red;
        }



}

